<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>itoken管理系统</title>
</head>
<body>
        <center>
        <br><br><br><br><br><br>
        <h1 style="color:navy">itoken管理系统</h1>
        <br>
        <form name="loginForm" action="index.html" method="post">
            <table Border="0" >
                <tr >

                    <td>账号</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="password" name="password">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="登录" style="color:#BC8F8F">
        </form>
        </center>

</body>
</html>